.categoryBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 320px;
    padding: 10px;
    border: 2px #F7F7F7;
    background-color: #F7F7F7;
    margin: 0;
}

.categoryFlex{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

Button{
    width: 320px;
    height: 32px;
}

.CategoryTitle{
    text-align: center;
}

.productCardsFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.eachCardFlex{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}