.topnav {
    overflow: hidden;
    background-color: #46C6E0;
    text-transform:uppercase;
  
  }
  
  .topnav a {
    float: left;
    color: white;
    padding: 2.24vh 2.56vh;
    text-decoration: none;
    font-size: 3vh;
  }
  
  .topnav a:hover {
    color: black;
  }
  
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .dropdownMenu{
    position: absolute;
    overflow: hidden;
    width: 600px;
    display:flex;
    background-color: #46C6E0;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 230px;
  }

  .dropdownMenu a {
    float: left;
    color: white;
    text-decoration: none;
    font-size: 3vh;
  }

  .dropdownMenu a:hover {
    color: black;
  }

  .dropdownSection{
    margin-top: 5px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
  }